{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "simple-import-sort"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended",
        "plugin:prettier/recommended",
        "prettier"
    ],
    "rules": {
        "prettier/prettier": "error",
        "sort-imports": "off",
        "simple-import-sort/imports": "error",
        "simple-import-sort/exports": "error",
        "react/prop-types": "off"
    }
}